<% include ../partials/header.ejs %>
<div class="container" style="margin-top: 5%">
    <form action="/card" method="post">
        <div class="row">
            <div class="six columns">
                <label for="cid">Card Number</label>
                <input class="u-full-width" type="text" placeholder="Swipe your card" name="cid" onkeyup="cleanCardID()">
            </div>
            <div class="six columns">
                <label for="sid">Student ID</label>
                <input class="u-full-width" type="text" placeholder="12345678" name="sid">
            </div>
        </div>
        <input class="button-primary" type="submit" value="Submit">
    </form>
</div>
<script src="/js/card.js"></script>
<% include ../partials/footer.ejs %>